@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

span{
  color:#FCD842;
}

.navbar-dark .navbar-nav .nav-link {
  letter-spacing: 2px;
  color: white;
  transition: .5s;
}
.navbar-dark .navbar-nav .nav-link:hover{
  color:#FCD842 ;
  letter-spacing: 3px;
}