$primary: #fcd842;
$secondary: #171426;
$info: #006496;
$success: #70ca75;
$warning: #ff9f43;
$danger: crimson;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "info": $info,
    "success": $success,
    "warning": $warning,
    "danger": $danger,
);
